@import url('https://fonts.googleapis.com/css2? família= Inter:wght@100;400;900 & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif; 
    scroll-behavior: smooth; 
}

.container-pagina {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b1b1b;  
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 10px;
    min-height: 80px;
    background-color: #151515e6;
    box-shadow: 0px 2px 2px rgba(255, 166, 0, 0.272); 
    position: sticky ;
    top: 0;
    backdrop-filter: blur(20px);  
    gap: 50px;
    transition: 0.1s;
    z-index: 1;
}
.header.scrol{
    box-shadow: 0px 2px 10px rgba(255, 166, 0, 0.702);   
}
.header > a {
    width: 50%;
}
.logo-header{
    width: 8.5%;
    object-fit: contain;
    cursor: pointer;
}

#icone-menu{
    background-color: white;
    display: none;
}
.texto-header{
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.nav-header{
    display: flex;
    gap: 60px;
    align-items: center;   
}
.nav-button{
    background-color: transparent;
    border: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700px;
    cursor: pointer;
    border-bottom: 2px solid transparent; 
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    padding-bottom: 3px;
    text-decoration: none;
}
.nav-button::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.nav-button:hover::after{
    width: 100%;
}


.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515e6;
    color: white;
    font-size: 20px;
    line-height: 55px;
    letter-spacing: 1px;
    flex-basis: 600px;
   

}
.container-home-elementos{
    display: flex;
    justify-content:center;
    width: 90%;
    gap:auto ;
}

.container-img-home {
    position: relative;
    display: inline-block;
    border-radius: 15px; 
    overflow: hidden; 
    border: 3px solid #ffa500 ;
    animation: img-flutuante 2s  ease-in-out infinite alternate, distort-border-radius 5s infinite ease-in-out ;
    transition: all 1s ease-in-out;
    width: 40%;
    box-shadow: 0px 10px 20px #ffa600ad;
}
.img-home {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px; 
}

  @keyframes distort-border-radius {
    0% {
        border-radius: 60% 40% 60% 40% / 50% 50% 50% 50%;
      }
      25% {
        border-radius: 70% 30% 50% 50% / 40% 60% 40% 60%;
      }
      50% {
        border-radius: 40% 60% 40% 60% / 50% 50% 50% 50%;
      }
      75% {
        border-radius: 30% 70% 50% 50% / 60% 40% 60% 40%;
      }
      100% {
        border-radius: 60% 40% 60% 40% / 50% 50% 50% 50%;
      }
  }

@keyframes img-flutuante {
    0% {
        top: 0;
    
    }
    100% {
        top: 30px;
    }
}


.container-home-textos-icones{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;  
    line-height: 1.1;
    gap: 40px;
}

.container-home-textos-icones div  {
   width: 91.2%;
  display: inline-block;
}

.container-home-textos-icones div h1 {
    display: inline-block; 
    animation: texto 10s steps(22) infinite , alternar 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    letter-spacing: 2px; 
    font-size: 4rem;
   width: 0;
}

@keyframes texto {
    0% {
        width: 0; 
    }
    20%{
        width: 100%;
    }
    80% {
        width: 100%; /* Aumenta até a largura completa */
    }
    100% {
        width: 100%; /* Permanece completo antes de reiniciar */
    }
}
@keyframes alternar {
    50% {
        border-color: transparent; /* Piscar do cursor */
    }
}
.container-home-textos-icones div h1 i {
    margin-left: 0; /* Remove qualquer margem extra à esquerda */
    margin-right: 0; /* Remove qualquer margem extra à direita */
}
.icone {
   font-size: 32px;
   margin-left: 0; /* Remove qualquer margem extra à esquerda */
   margin-right: 0; 
}
.button-home{
    width: 20%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffa500; 
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(255, 111, 0, 0.5);
}

.button-home:hover {
    background-color: #00000091; 
    color: #ffa500; 
}


.container-home-textos-icones > h1{
    font-size: 60px;
}
.container-home-textos-icones > p{
    font-size: 14px;
}


.sobre-ilustracao{
    width: 50%;
    max-height: 600px;
    min-height: auto;
    object-fit: contain;
    border-left: 5px solid #ffa500; 
}
.container-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px;
    flex-grow: 1;
    flex-basis: 400px;
    background-color: #1b1b1b; 
}

.container-sobre > div{
    display: flex;
    color: white;
    width: 75%;

}
.container-sobre > div > h2{
    font-size: 30px;
    margin-top:50px;
}

.container-sobre-grupo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-sobre-elementos{
    display: flex;
    gap: 60px;
    width: 100%;

}
.container-sobre-elementos p{
    color: #c4c4c4;
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family:'Inter', sans-serif;  
    font-weight: 100;
}
.container-sobre-elementos-div{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;

}
.container-sobre-elementos-div > h3{
    font-size: 26px;

}

.container-sobre-elementos-div > #elemento-ponto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
   

}
#elemento-ponto > div{
    display: flex;
    gap: 6px;
    align-items: center;

}

#elemento-ponto > div> img{
   width: 20px;
   height: 20px;

}
.container-sobre-icones{
    display: flex;
    gap: 30px;
    
 }
 .sobre-icone{
    width: 35px;
    object-fit: fill;
    height: auto;
    object-fit: fill;
    transition: filter 0.3s ease; 
 }
 .sobre-icone:hover {
    filter: invert(57%) sepia(93%) saturate(1026%) hue-rotate(1deg) brightness(101%) contrast(101%);
}

.texto-sobre{
text-align: justify;
}

/* .container-experiencia{
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex-basis: 550px;
    background-color: #151515e6;
    gap: 100px;
    color: white;
}
.container-experiencia> h2{
    margin-top: 50px;
    color: white;
}

.experiencia-elemento{
    display: flex;
    align-items: center;
    width:70%;
    height: 200px;
    gap: 50px;
}
.experiencia-elemento> img{
        border-radius: 50%;
        width: 120px; 
        height: 120px; 
        object-fit: cover; 
}

.experiencia-elemento-descricao{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    background-color: #1b1b1b;
    gap: 20px;

}

.experiencia-elemento-descricao>div{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.experiencia-elemento-descricao .experiencia-elemento-descricao-data{
     font-size: 12px;
     font-weight: bold;
} */

.container-sobre-contato{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 110px;
    gap: 40px;
}

.container-sobre-contato-grupo{
    display: flex;
    width: 70%;
    gap: 50px;
    /* border: 1px solid green; */
}
#contato-titulo{
    font-weight: bold;
    font-size: 22px;
}

.icone-sobre-contato{
    font-size: 20px;
}

.container-sobre-contato-elemento{
    display: flex;
    justify-content: center;
    height: auto;
    border-radius: 10px;
    gap: 10px;

}


.container-sobre-contato-elemento > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    background-color: #151515e6;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    gap: 10px;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container-sobre-contato-elemento > a:hover{
    transform: scale(0.95);
    box-shadow: 0 8px 15px #ffa60015;  
    color: #ffa500; 
}

.container-sobre-contato-elemento > a > img {
  width: 35px;
  transition: filter 0.3s ease; 
}

.container-sobre-contato-elemento > a:hover img {
    filter: invert(46%) sepia(79%) saturate(446%) hue-rotate(84deg) brightness(92%) contrast(94%);
    
}

.container-sobre-contato-elemento > img{
    margin-top: 9px;
    width: 40px;
    height: 40px;
}


.container-sobre-contato-elemento > div{
   display: flex;
   flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.container-sobre-contato-elemento > div > #elemento-gmail{
    font-size: 14px;
    font-weight: bold;
    color: white;
 }
 .container-sobre-contato-elemento > div > p{
    font-size: 14px;
    color: #c4c4c4;
 }


.container-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 80px;
    flex-basis: 600px;
    background-color:  #151515e6;
    padding: 10px;
    
}

.container-skills h2{
    color: white;
    font-size: 28px;
    margin-top: 100px;
}
.container-skills-icones{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.skills-icone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight: 600;
    background-color: #1b1b1b;  
    width: 200px;
    height: 120px;  
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skills-icone:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.skills-icone > img{
    width: 35px;
}
.container-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    flex-basis: 1000px;
    background-color:  #1b1b1b ; 
    padding: 20px;
    flex-grow: 2;
}


.container-projetos> #titulo-projetos{
    display: flex   ;
    color: white;
    width: 80%;
    font-size: 20px;
    margin-top: 100px;
   
    
}

.container-projetos-flex{
    display: flex;
    width: 100%;
    justify-content: center;
}
.projetos-elementos{
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr); 
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-areas: 
    "grid-projeto1 grid-projeto2"
    "grid-projeto4 grid-projeto3  "
    "grid-projeto5 grid-projeto6";
    width:80%;
    column-gap: 40px; 
    row-gap: 80px;

}
.elemento-projeto{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 25px;
    text-align: justify;
    overflow: hidden;
    position: relative;
   

}
.elemento-projeto-animacao{
    transition: transform 0.3s ease;
}
.elemento-projeto-animacao:hover {
    transform: translateY(-10px); /* Faz o contêiner subir 10px */
}
.elemento-projeto > a{
   display: flex;
   width: 100%;
   justify-content: center;
  text-decoration: none;
  color: #ffa500;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  transition:  0.3s ease;

}

.elemento-projeto > a:hover{
    color: rgb(255, 72, 0);
 }

.elemento-projeto > p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.562);
}

.elemento-projeto-img{
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease; 
    object-fit: cover; /
   
}
.elemento-projeto-img:hover {
    transform: scale(1.1); 
    opacity: 0.7;

}
.elemento-projeto-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    border-radius: 10px;
    text-align: center; 
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    font-weight: bold;
    
}
.elemento-projeto:hover .elemento-projeto-overlay {
    opacity: 1; 
}
.elemento-projeto-overlay > img{
    width: 10%;

}



.grid-projeto1{
    grid-area: grid-projeto1;

}

.grid-projeto2{
    grid-area: grid-projeto2;
}

.grid-projeto3{
    grid-area: grid-projeto3;
}

.grid-projeto4{
    grid-area: grid-projeto4;
}
.grid-projeto5{
    grid-area: grid-projeto5;
}

.grid-projeto6{
    grid-area: grid-projeto6;

}
.footer{
    display: flex;
    padding: 50px;
    background-color: #1b1b1b;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media(min-width:280px) and (max-width:900px){

    .header{
        gap: 20px;
    }

    nav > .nav-button-menu{
        display: none;
    }
   
    .logo-header{
        width: 11%;
        object-fit: contain;
        cursor: pointer;
    }
    .container-home-elementos{
        flex-wrap: wrap-reverse;
    }
    .home-ilustracao{
        width: 90%;
    }
    .container-home-elementos{
        gap: 10px; 
    }
    .container-home-textos-icones{
        gap: 10px;   
    }
    .container-home-textos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-sobre-icones{
        justify-content: center;
        padding: 20px;
    }
    .container-sobre-elementos{
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    }
   .img-sobre{
    width: 100%;
    }
    .projetos-elementos{
        display: grid;
        align-items: center;
        grid-template-rows:repeat(6,200px);
        grid-template-columns: minmax(auto,100%);
        grid-template-areas: 
        "grid-projeto1" 
        "grid-projeto2" 
        "grid-projeto3"
        "grid-projeto4" 
        "grid-projeto5"
        "grid-projeto6";
        width:100%;
        gap: 40px;    
    }
}