*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;


}

.nav{
    display: flex;
    gap: 30px;
    align-items: center;
   
}
.header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    flex-wrap: wrap; 
    background-color: #151515;
    box-shadow: 0px 4px 10px rgba(255, 166, 0, 0.25) ;
    z-index: 1;
}
.texto-header{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.nav-button{
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 18px;
    font-weight: 700px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    
}
.nav-button:hover{
    transition: 0.4s;
    border-bottom: 2px solid orange;
}

.secao1{
    display: flex;
   flex-grow: 2;
 
   background-color: #151515;
}
.secao1-texto1{
color: white;
padding: 50px;

}

.secao2{
    display: flex;
    flex-grow: 2;
    border: 1px solid rgb(23, 168, 7); 
    background-color: #121212;
}

.secao2-texto2{

}